@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

html {
	scroll-behavior: smooth;
}

#start {
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("images/retro-computers.jpg");
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

#start .content header {
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

#start .content header .header-content {
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

#start .content header .header-content h1 {
	text-align: center;
	color: #ff5080;
}

#start .content header .header-content nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

#start .content header .header-content nav ul li a {
	text-decoration: none;
	color: #fff;
	margin: 0 12px;
	font-weight: 400;
	transition: .5s;
}

#start .content header .header-content nav ul a:hover {
	color: #ff5080;
}

#start .content header .header-content .selected {
	color: #ff5080;
}

#start .content .presentation {
	max-width: 1100px;
	height: 100vh;
	margin: auto;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#start .content .presentation .welcome {
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#start .content .presentation h2 {
	font-size: 55px;
	margin-bottom: 25px;
	text-align: center;
}

#start .content .presentation h2 {
	font-size: 65px;
	color: #ff5080;
}

#start .content .presentation .description {
	max-width: 700px;
	margin: 25px auto;
	font-size: 18px;
	text-align: center;
}

#start .content .presentation a {
	text-decoration: none;
	display: inline-block;
	margin: 25px;
	padding: 20px 25px;
	border: 2px solid #fff;
	border-radius: 50px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: .5s;
}

#start .content .presentation a:hover {
	background-color: #ff5080
}

#nav-icon {
	display: none;
}

/*SECTION ABOUT ME*/
#about-me {
	max-width: 1100px;
	margin: auto;
	padding: 100px 15px;
	color: #111135;
	display: flex;
}

#about-me .pic-container {
	max-width: 400px;
	margin-right: 80px;
}

#about-me .pic-container img {
	padding: 20px;
	width: 250px;
	border-radius: 20px;
	background-color: #f3f3f3;
}

#about-me .about-me {
	margin: 0 40px;
}

#about-me .about-me .section-title {
	font-size:22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration:underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}

#about-me .about-me h2 {
	font-size: 34px;
	font-weight: bold;
	margin: 20px 0;
	letter-spacing: 2px;
}

#about-me .about-me h2 span {
	color: #ff5080;
}

#about-me .about-me h3 {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

#about-me .about-me p {
	font-size: 14px;
	line-height: 25px;
	color: #565656;
	margin-bottom: 12px;
}

#about-me .about-me a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	border-radius: 30px;
	padding: 10px 20px;
	border: 1px solid #000;
	margin-top: 30px;
	transition: .5s;
}

#about-me .about-me a:hover {
	background-color: #ff5080;
	color: #fff;
}

/*SECTION SKILLS*/
.skills-container {
	background:linear-gradient(#eb5a5acc, rgba(33, 16, 16, .8)), url("images/retro-computers.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	text-align: center;
}

.skills-container .skill {
	max-width: 600px;
	margin: 30px auto;
}

.skills-container .skill .info {
	display: flex;
	justify-content: space-between;
}

.skills-container .skill .skill-list {
	display: inline-block;
	margin-right: 20px;
	height: 10px;
	width: 10px;
	background-color: #fff;
}

.skills-container .skill .bar {
	background-color: #919191;
	width: 100%;
	height: 6px;
	margin: 10px 0;
}

.skills-container .skill .bar .progress-bar-cpp {
	background-color: #fff;
	width: 80%;
	height: 6px;
	animation: progress-cpp 2s forwards;
}

.skills-container .skill .bar .progress-bar-ue {
	background-color: #fff;
	width: 80%;
	height: 6px;
	animation: progress-ue 2s forwards;
}

.skills-container .skill .bar .progress-bar-cs {
	background-color: #fff;
	width: 80%;
	height: 6px;
	animation: progress-cs 2s forwards;
}

.skills-container .skill .bar .progress-bar-unity {
	background-color: #fff;
	width: 80%;
	height: 6px;
	animation: progress-unity 2s forwards;
}

.skills-container .skill .bar .progress-bar-oop {
	background-color: #fff;
	width: 80%;
	height: 6px;
	animation: progress-oop 2s forwards;
}

.skills-container .skill .bar .progress-bar-git {
	background-color: #fff;
	width: 80%;
	height: 6px;
	animation: progress-git 2s forwards;
}

.skills-container .skill .bar .progress-bar-htmlcssjs {
	background-color: #fff;
	width: 25%;
	height: 6px;
	animation: progress-htmlcssjs 2s forwards;
}

.skills-container .skill .bar .progress-bar-java {
	background-color: #fff;
	width: 25%;
	height: 6px;
	animation: progress-java 2s forwards;
}

.skills-container .skill .bar .progress-bar-sql {
	background-color: #fff;
	width: 30%;
	height: 6px;
	animation: progress-sql 2s forwards;
}

/*Progress Bars Animations*/
@keyframes progress-cpp {
	0% {
		width: 0;
	}
	100% {
		width: 80%;
	}
}

@keyframes progress-ue {
	0% {
		width: 0;
	}

	100% {
		width: 80%;
	}
}

@keyframes progress-cs {
	0% {
		width: 0;
	}

	100% {
		width: 80%;
	}
}

@keyframes progress-unity {
	0% {
		width: 0;
	}

	100% {
		width: 80%;
	}
}

@keyframes progress-oop {
	0% {
		width: 0;
	}

	100% {
		width: 85%;
	}
}

@keyframes progress-git {
	0% {
		width: 0;
	}

	100% {
		width: 80%;
	}
}

@keyframes progress-htmlcssjs {
	0% {
		width: 0;
	}

	100% {
		width: 20%;
	}
}

@keyframes progress-java {
	0% {
		width: 0;
	}

	100% {
		width: 20%;
	}
}

@keyframes progress-sql {
	0% {
		width: 0;
	}

	100% {
		width: 25%;
	}
}

/*SECTION PROJECTS*/
#projects {
	max-width: 1100px;
	padding: 100px 0;
	margin: auto;
}

#projects .section-title {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}

#projects p {
	font-size: 14px;
	line-height: 25px;
	color: #565656;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 12px;
}

#projects .row {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

#projects .row .project {
	max-width: 450px;
	max-height: 225px;
	border: 1px solid #000;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
}

#projects .row .project img {
	width: 100%;
	height: 100%;
	filter: grayscale(.8);
	object-fit: cover;
	transition: .5s;
}

#projects .row .project video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#projects .row .project:hover img {
	filter: grayscale(0);
}

#projects .row .project .info {
	position: absolute;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	color: #ff5080;
	width: 100%;
	padding: 10px;
	opacity: 0;
	bottom: -40px;
	transition: .5s;
}

#projects .row .project:hover .info {
	opacity: 1;
	bottom: 0;
}

footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

footer a {
	color: #fff;
	display: inline-block;
	margin: 10px;
	font-size: 26px;
}

/*SECTION RESPONSIVE*/
@media screen and (max-width:800px) {
	nav {
		display: none;
	}
	nav.responsive {
		display: block;
		background-color: rgba(0, 0, 0, .8);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}
	nav.responsive ul {
		display: block !important;
		text-align: center;
	}
	nav.responsive ul li {
		margin: 5px 0;
	}
	#nav-icon {
		display: block;
		color: #fff;
	}
	#start .content .presentation h2 {
		font-size: 40px;
	}
	#about-me {
		padding: 50px 0;
		display:  block;
	}
	#about-me .pic-container {
		max-width: 100px;
		margin: auto;
	}
	#about-me .pic-container img {
		padding: 8px;
	}
	#about-me .about-me .section-title {
		text-align: center;
	}
	#about-me .about-me h2 {
		font-size: 25px;
		text-align: center;
	}
	.skills-container {
		padding: 50px 20px;
	}
	#projects {
		padding: 50px 0;
	}
	#projects .row {
		display:block;
	}
	#projects .row .project {
		margin: 10px auto;
	}
}