#start .content header {
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

#start .content header .header-content {
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px var(--border-radius);
}

#start .content header .header-content h1 {
	text-align: center;
	color: var(--accent);
}

#start .content header .header-content nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

#start .content header .header-content nav ul li a {
	text-decoration: none;
	color: var(--text-light);
	margin: 0 12px;
	font-weight: 400;
	transition: .5s;
}

#start .content header .header-content nav ul a:hover {
	color: var(--accent);
}

#start .content header .header-content .selected {
	color: var(--accent);
}


#nav-icon {
	display: none;
}